<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>


<div class="container">

    <div class="py-5 text-center  ">
        <h2>Рады Вас видеть</h2>
        <p class="lead">Пару слов о Вашей организации</p>

    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Чуть ниже введите данные</h4>

            <form  th:method="POST" th:object="${organization}" th:action="@{/organization}">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="name" class="form-label">Название организации</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="name" placeholder="Рога и копыта"
                                   th:name="name" maxlength="20" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите название организации.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="inn" class="form-label">ИНН</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="inn"
                                   th:name="inn" placeholder="7707210781"  required>
                                   pattern="[0-9]{10,12}">
                            <div class="invalid-feedback">
                                Пожалуйста введите ИНН организации.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="ogrn" class="form-label">ОГРН</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="ogrn"
                                   th:name="ogrn" placeholder="1037700000293"  required>
                                   pattern="[0-9]{13}">
                            <div class="invalid-feedback">
                                Пожалуйста введите ОГРН организации.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-9">
                        <label for="address" class="form-label">Адрес</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="address" th:name="address"
                                   placeholder="Москва Город, ул. Охотный Ряд, д.1" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите юридический адрес организации.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="phoneNumber" class="form-label">Телефон</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="phoneNumber" th:name="phoneNumber"
                                   placeholder="84951284032"
                                   pattern="[0-9]{11}"
                                   required>
                            <div class="invalid-feedback">
                                Пожалуйста введите телефон организации в формате 89609998899.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label for="zip" class="form-label">Почтовый код</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="zip" th:name="zip" placeholder="103265"
                                   pattern="[0-9]{6}" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите почтовый код организации.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-lg">Нажмите для продолжения</button>
                <hr>
            </form>
            <hr>
            <form action="#" th:action="@{'/'}" method="GET">
                <input class="btn btn-primary" type="submit" value="Назад"/>
            </form>
        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 AlekhinArt </p>
</footer>
</div>


</body>
</html>