<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>
<div class="container">

    <div class="text-capitalize">
        <h1><span th:text="${org.name}"></span></h1>
        <p><b>Название организации: </b><span th:text="${org.name}"></span></p>
        <p><b>ИНН: </b><span th:text="${org.inn}"></span></p>
        <p><b>ОГРН: </b><span th:text="${org.ogrn}"></span></p>
        <p><b>Адрес: </b><span th:text="${org.address}"></span></p>
        <p><b>Телефон: </b><span th:text="${org.getPhoneNumber()}"></span></p>

    </div>
    <form action="#" th:action="@{'/organization/upd/' + ${org.id}}" method="GET">
        <input class="btn btn-primary" type="submit" value="Обновить данные"/>
    </form>


</div>


</body>
</html>