<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>
<div class="container">

    <div class="py-5 text-center  ">
        <h2>Рады Вас видеть</h2>
        <p class="lead">Пару слов о Вашей организации</p>
    </div>
</div>


</body>
</html>