<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>


<div class="container">

    <div class="py-5 text-center  ">
        <h4 class="mb-3">Добавляем историю </h4>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h5 class="mb-3">Чуть ниже введите данные</h5>
            <form th:method="POST"
                  th:action="@{'/wh/{orgId}/{workerId}/create'(orgId=${orgId}, workerId = ${workerId})}">

                <div class="form-group">
                    <input type="hidden" id="workNow" th:name="workNow" th:value="TRUE"/>
                </div>
                <div class="col-md-5">
                    <label for="emplPosId" class="form-label">Выберите должность</label>
                    <select type="text" class="form-control" th:name="emplPosId" id="emplPosId">
                        <option th:each="pos : ${employPositions}" th:value="${pos.id}"
                                th:text="${pos.position}"></option>
                    </select>
                </div>
                <label for="startWork" class="form-label">Укажите дату принятия на должность</label>
                <div class="input-group">
                    <input type="date" class="form-control" id="startWork"
                           th:name="startWork" placeholder="1770-12-17"
                           th:min="${currentDate.minusYears(1)}" th:max="${currentDate.plusYears(1)}"
                           required>

                </div>
                <!--        </div>-->
                <label for="baseRate" class="form-label">Укажите базовую ставку</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="baseRate"
                           th:name="baseRate" placeholder="10000"
                           min="0"
                           required>

                </div>
                <!--    </div>-->
                <label for="indexRate" class="form-label">Укажите коэфицент</label>
                <div class="input-group">
                    <input type="text" class="form-control" id="indexRate"
                           th:name="indexRate" placeholder="1.25"
                           min="0"
                           required>

                </div>
                <hr>
                <button type="submit" class="btn btn-primary btn-lg">Сохранить</button>
                <hr>
            </form>

        </div>
    </div>
</div>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 AlekhinArt </p>
</footer>


</body>
</html>