<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>


<div class="container">

    <div class="py-5 text-center  ">
        <h4 class="mb-3">Добавляем историю </h4>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h5 class="mb-3">Чуть ниже введите данные</h5>
            <form th:method="POST"
                  th:action="@{'/wh/{orgId}/{workerId}/create'(orgId=${orgId}, workerId = ${workerId})}">


                <hr>
                <button type="submit" class="btn btn-primary btn-lg">Нажмите для продолжения</button>
                <hr>
            </form>


        </div>
        <footer class="my-5 pt-5 text-body-secondary text-center text-small">
            <p class="mb-1">&copy; 2023 AlekhinArt </p>
        </footer>
    </div>


</body>
</html>