<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <!--    <meta charset="UTF-8">-->
    <title>New org</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>


<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>


<div class="container">
    <h3><b>Табель учета рабочего времени </b></h3>
    <p><b>Фамилия: </b><span th:text="${worker.surname}"></span></p>
    <p><b>Имя: </b><span th:text="${worker.name}"></span></p>
    <p><b>Отчество: </b><span th:text="${worker.patronymic}"></span></p>
    <h4><b> <span th:text="${month}"></span> </b></h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th style="width: 14%">Понедельник</th>
            <th style="width: 14%">Вторник</th>
            <th style="width: 14%">Среда</th>
            <th style="width: 14%">Четверг</th>
            <th style="width: 14%">Пятница</th>
            <th style="width: 14%">Суббота</th>
            <th style="width: 14%">Воскресенье</th>
        </tr>
        </thead>
        <tbody>

        <tr th:each="row, iterray : ${table}">

            <td th:each="column : ${row}">
                <div th:if="*{column.isShow()}">
                    <p><strong th:text="*{column.getDateMonth()}"></strong></p>
                    <p><strong th:text="*{column.getWhereBe()}"></strong></p>
                    <p> Отработано часов:<strong th:text="*{column.getHours()}"></strong></p>
                </div>

            </td>
        </tr>


        </tbody>


    </table>
    <p>Всего отработано часов : <strong th:text="*{paymentInfo.getSumHours()}"></strong></p>
    <p>Ставка : <strong th:text="*{paymentInfo.getBaseRate()}"></strong></p>
    <p>Коэффициент : <strong th:text="*{paymentInfo.getIndexRate()}"></strong></p>
    <p>Суммарная оплата : <strong th:text="*{paymentInfo.getSum()}"></strong></p>



</div>
<footer class=" my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 AlekhinArt </p>
</footer>


</body>
</html>

