<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{fragments/head :: head}"></head>

<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>

<div class="container"  >
    <div class="jumbotron">
        <div class="py-5 text-center">
        <h1> Начинаем отсюда </h1>
        <p> Возможно тут в скором времени появится осмысленный текст
            или даже возможно что-то более менее автоматизированное или даже кликабельное</p>
        <p> но пока тут будет </p>
        <p> <3</p>
        </div>
    </div>
</div>
</div>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 AlekhinArt </p>
</footer>
</div>
</body>
</html>