<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавляем новую должность</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>

<div class="container center">
    <div class="text-center">
        <p class="lead">Работа без работников не работается</p>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Создаем новую должность </h4>
            <h5 class="mb-3">Чуть ниже введите данные</h5>
            <form action="#" th:method="POST" th:object="${emplPos}" th:action="@{/empl}">
                <div class="row">
                    <div class="col-sm-9">
                        <label for="position" class="form-label">Название должности</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="position" placeholder=""
                                   th:name="position" maxlength="20" required>
                        </div>
                    </div>

                    <div class="col-sm-9">
                        <label for="jobDescription" class="form-label">Описание должности</label>
                        <div class="input-group">
                            <textarea cols="50" rows="4" type="text" class="form-control" id="jobDescription"
                                      th:name="jobDescription" placeholder="Бетховен" maxlength="120"
                                      required></textarea>
                        </div>
                    </div>
                </div>
                <hr>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <hr>


        </div>
    </div>
</div>

</body>
</html>