<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавляем работника</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>

<div class="container center">
    <div class="text-center">
        <p class="lead">Работа без работников не работается</p>
    </div>
    <div class="row">
        <div class="col-md-7 col-lg-8">
            <h4 class="mb-3">Чуть ниже введите данные</h4>

            <form action="#" th:method="POST" th:object="${worker}" th:action="@{/worker}">
                <div class="row">
                    <div class="col-sm-6">
                        <label for="name" class="form-label">Имя</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="name" placeholder="Людвиг"
                                   th:name="name" maxlength="20" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите имя работника.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label for="surname" class="form-label">Фамилия</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="surname"
                                   th:name="surname" placeholder="Бетховен" maxlength="20" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите фамилию работника.
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-7">
                        <label for="patronymic" class="form-label">Отчество</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="patronymic"
                                   th:name="ogrn" maxlength="20" placeholder="Иоганнович" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите отчество работника.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="birthday" class="form-label">Дата рождения</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="birthday"
                                   th:name="birthday" placeholder="1770-12-17"
                                   min="1920-01-01" max="2010-01-01" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите дату рождения работника.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="phoneNumber" class="form-label">Контактный телефон</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="phoneNumber" placeholder="+7-999-999-99-99"
                                   th:name="phoneNumber"
                                   pattern="\+7\s?[\(]{0,1}9[0-9]{2}[\)]{0,1}\s?\d{3}[-]{0,1}\d{2}[-]{0,1}\d{2}"
                                   required>
                            <div class="invalid-feedback">
                                Пожалуйста введите контактный телефон работника.
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col-sm-5">
                        <select type="text" class="form-control" th:name="workNow" id="workNow" required>
                            <option value="true">Работает сейчас</option>
                            <option value="false">Пока не трудоустроен</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-5">
                        <label for="startWork" class="form-label">Дата трудоустройства</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="startWork"
                                   th:name="startWork" placeholder="1782-12-17"
                                   min="2010-01-01" max="2025-01-01" required>
                            <div class="invalid-feedback">
                                Пожалуйста введите дату трудоустройства работника.
                            </div>
                        </div>
                    </div>
                </div>


                <hr>
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
            <hr>


        </div>
    </div>
</div>

</body>
</html>