<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!--    <meta charset="UTF-8">-->
    <title>MyOrg</title>
    <head th:insert="~{fragments/head :: head}"></head>
</head>
<body>
<div th:insert="~{fragments/header :: header}"></div>
<div th:insert="~{fragments/leftPanel :: leftPanel}"></div>
<div class="container">

    <h3><b>Не рабочие дни</b></h3>
    <div th:if="${ #lists.isEmpty(ndws)}">
        <h3><b>Пока тут пусто, добавьте отпуск, больничный или прогул</b></h3>
        <hr>
        <form action="#" th:action="@{'/wh/{orgId}/create/{id}'  (id=${whId}, orgId=${orgId})}" method="GET">
            <input class="btn btn-primary" type="submit" value="Добавить"/>
        </form>

    </div>
    <div th:if="${ not #lists.isEmpty(ndws)}">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th style="width: 5%">#</th>
                    <th style="width: 20%">С какого дня</th>
                    <th style="width: 20%">По какой</th>
                    <th style="width: 20%">Тип</th>
                    <th style="width: 20%">Пометка</th>
                    <th style="width: 20%">Удалить</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="nwd, iterationStatus : ${ndws}">
                    <td th:text="${iterationStatus.index}+1">workNow</td>
                    <td th:text="${nwd.getStart()}">старт</td>
                    <td th:text="${nwd.getEnd()}">конец</td>
                    <td th:text="${nwd.getTypeDay()}">тип</td>
                    <td th:text="${nwd.getNote()}">пометка</td>

                    <td style="text-align: center"><a
                            th:href="@{'/wh/{orgId}/{whId}/delete/{id}'(id=${nwd.getNwdId()}, orgId = ${orgId},whId = ${whId})}"><i
                            class="fa fa-trash"
                            style="font-size:20px"></i></a>
                    </td>

                </tr>
                </tbody>


            </table>
            <form action="#" th:action="@{'/wh/{orgId}/{whId}/bt'  (whId=${whId}, orgId=${orgId})}" method="GET">
            <div class="col-md-5">
                <label for="typeOffDay" class="form-label">Выберите тип</label>
                <select type="text" class="form-control" th:name="typeOffDay" id="typeOffDay" required>
                    <option value="">-- Select Type--</option>
                    <option th:value="SICK_DAY">Больничный</option>
                    <option th:value="VACATION">Отпуск</option>
                    <option th:value="DAY_OF">Прогул</option>
                </select>
            </div>
                <input class="btn btn-primary" type="submit" value="Показать только"/>
            </form>

        </div>
        <hr>
        <form action="#" th:action="@{'/wh/{orgId}/create/{id}'  (id=${whId}, orgId=${orgId})}" method="GET">
            <input class="btn btn-primary" type="submit" value="Добавить"/>
        </form>

        <hr>
        <form action="#" th:action="@{'/worker/{orgId}/get/{id}'  (orgId=${orgId}, id = ${workerId})}" method="GET">
            <input class="btn btn-primary" type="submit" value="Назад"/>
        </form>
    </div>

</div>


</body>
<footer class="my-5 pt-5 text-body-secondary text-center text-small">
    <p class="mb-1">&copy; 2023 AlekhinArt </p>
</footer>
</html>